html, body, .animation-frame {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    cursor: default;
    overflow-y: hidden;
    font-family: 'Roboto', sans-serif;
}

.animation-frame {
    background-color: rgba(26, 32, 47, 1);
}

canvas {
    position: relative;
}

.nav {
    position: absolute;
    top: 5px;
    right: 30px;
    z-index: 1;

    color: rgba(255, 255, 255, 0.4);
    font-weight: 100;

}

.nav p {
    display: inline-block;
    margin-right: 8px;
}

@keyframes fadein {
    from {
        border-bottom: rgba(255, 230, 0, 0) solid 1px;
        color: rgba(255, 255, 255, 0.6);
    }
    to {
        border-bottom: rgba(255, 230, 0, 1) solid 1px;
        color: rgba(255, 255, 255, 1);
    }

}

.nav p:hover {
    animation: fadein 1s forwards;
    animation-timing-function: ease-out;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
}

.btn {
    border: white solid 1px;
    position: relative;
    left: -50%;
    top: -50%;
    color: white;
}

.btn:hover {
    background-color: rgba(4, 194, 201, 1);
}


.title {
    animation-name: fap;
    animation-delay: 4s;

    position: absolute;
    bottom: 300px;
    left: 200px;
    z-index: 1;
}

.title h1, .title p {
    margin: 0;
    padding: 0;

    color: rgba(255, 255, 255, 0.6);
}

.title p {
    font-weight: 100;
}

.info {
    position: relative;
}
