html, body, .animation-frame {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    cursor: default;

    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;

    scroll-behavior: smooth;
    scrollbar-width: none;
}

.animation-frame {
    background-color: rgba(26, 32, 47, 1);
}

canvas {
    position: relative;
}

#splash {
    height: 100vh;
}


.nav {
    position: absolute;
    top: 5px;
    right: 30px;
    z-index: 1;

    font-weight: 100;
}

.nav-splash {
    color: rgba(255, 255, 255, 0.4);
}

.nav p {
    display: inline-block;
    margin-right: 8px;
    color: rgba(255, 255, 255, 0.6);
}

@keyframes fadein {
    from {
        border-bottom: rgba(255, 230, 0, 0) solid 1px;
        color: rgba(255, 255, 255, 0.6);
    }
    to {
        border-bottom: rgba(255, 230, 0, 1) solid 1px;
        color: rgba(255, 255, 255, 1);
    }
}

.nav-splash p:hover {
    animation: fadein 1s forwards;
    animation-timing-function: ease-out;
}

.container {
    display: inline-block;
    position: relative;
    bottom: 50vh;
    left: 50vw;
    z-index: 1;
}

.deeper {
    position: relative;
    left: -50%;
    top: -50%;
    color: white;
    padding: 0 50px;

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.deeper:hover {
    animation: colorFade 1s forwards;
    animation-timing-function: ease-out;
}

@keyframes colorFade {
    from{background-color: rgba(4, 194, 201, 0);}
    to{background-color: rgba(4, 194, 201, 0.3);}
}


.title {

    position: relative;
    bottom: 300px;
    left: 200px;
    z-index: 1;
}

.title h1, .title p {
    margin: 0;
    padding: 0;

    color: rgba(255, 255, 255, 0.6);
}

.title p {
    font-weight: 100;
}

.info {
    position: relative;
}

.btn {
    display: inline-block;
}

.deeper:hover > #arrow{
    animation: arrowTurn .5s forwards;
}

#arrow {
    margin-left: 5px;
}

@keyframes arrowTurn {
    from {transform: rotate(0deg);}
    to {transform: rotate(90deg);}
}


::-webkit-scrollbar {
    width: 0;
}

#info {
    display: grid;
    place-items: center;
    height: 100vh;
}

#skillbars {
    display: flex;
    flex-direction: column;

    /*background-color: rgba(26, 32, 47, 1);*/
    background-color: rgba(224, 224, 224, 0.4);

    height: auto;
    width: 50vw;

    border-radius: 15px;
}

.skillbar {
    position: relative;
    top: 10%;

    margin: 5px;
    height: 30px;
    width: 70%;
}

.skillbar p {
    margin: 0 5px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.nav-colored p {
    color: black;
}

.nav-colored p:hover {
    animation: fadeinBlack 1s forwards;
}

@keyframes fadeinBlack {
    from {
        border-bottom: rgba(255, 230, 0, 0) solid 1px;
    }
    to {
        border-bottom: rgba(0, 0, 0, 1) solid 1px;
    }
}
